# Created by http://www.gitignore.io

### Maven ###
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties


### Gradle ###
.gradle
build/

# Ignore Gradle GUI config
gradle-app.setting
