# Created by http://www.gitignore.io

### Maven ###
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties


### Gradle ###
.gradle
build/

# Ignore Gradle GUI config
gradle-app.setting


### Eclipse ###

.metadata
bin/
tmp/
*.tmp
*.bak
*.swp
*~.nib
local.properties
.settings/
.loadpath

# Eclipse Core
.project

# JDT-specific (Eclipse Java Development Tools)
.classpath

### NetBeans ###
nbproject/private/
build/
nbbuild/
nbdist/
.nb-gradle/
nb-configuration.xml
